#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

.logo {
  will-change: filter;
  transition: all 0.3s ease-in-out;
}

.logo__path {
  fill: none;
  stroke-width: 5;
  stroke: #0e7490;
  stroke-linecap: round;
}

.logo__path--1,
.logo__path--2,
.logo__path--3,
.logo__path--5,
.logo__path--4,
.logo__path--6 {
  transition: fill 0.3s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0 0 1px #0e7490);
}

.logo:hover .logo__path--1,
.logo:hover .logo__path--2,
.logo:hover .logo__path--3,
.logo:hover .logo__path--5 {
  fill: black;
}

.logo:hover .logo__path--4,
.logo:hover .logo__path--6 {
  fill: #0e7490;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
